.close {
    color: gray;
    text-decoration: line-through;
}

/* body{
    background-color: rgb(238, 238, 238);
} */

.bg1 {
    background-image: url('images/bg1.png');
    /* background-position: center; */
    background-size: contain;
    background-repeat: no-repeat;
    /* height: 50vh; */
    /* padding: 0 100px 0 100px; */
    width: 80%;
}
